{% extends "navbar.html" %}
{% block content %}

<div class="mx-auto p-2" style="width: 1000px;">

<h1 class="blue">Property Listings</h1>
<p>At CK Real Estate,we offer a wide range of stunning properties to suit every need. Browse through our listings and find your dream home today!</p>
</div>
<div style="background-color: #f8f8f8">
<div  class="mx-auto p-2" style="width: 1000px;">
    <h2 class="blue" >Filter</h2><br>
    <button style="background-color: #5282a4;padding: 7px 12px 7px 12px;color: white;border: none;border-radius: 4px;font-size: 15px "> Property Type</button><br><br>
    <button style="background-color: #5282a4;padding: 7px 12px 7px 12px;color: white;border: none;border-radius: 4px;font-size: 15px "> Neighborhood</button><br><br>
    <button style="background-color: #5282a4;padding: 7px 12px 7px 12px;color: white;border: none;border-radius: 4px;font-size: 15px "> Price Range</button><br><br>
    </div>
</div>
    <div  class="mx-auto p-2" style="width: 1000px;" >
    {% for property in properties %}
    <div class="property-card" >
    <img src="{{ property.image1.url }}" alt="{{ property.name }}">
        <h3 class="blue"  style="font-size: 28px;padding-top: 10px;" >{{ property.name }}</h3>
<p>{{ property.description }} <br> Price: ${{ property.price }}  <br> Size: {{ property.area }} sq.ft.</p>

        <a href="{% url 'property_detail' property.id %}"><button style="background-color: #5282a4;padding: 7px 12px 7px 12px;color: white;border: none;border-radius: 4px;font-size: 15px ">View Details</button></a>
    </div>
    {% endfor %}

</div>
{% endblock %}